.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/img/main-background.jpg');
    background-size: cover;
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
    height: 100vh;
    padding: 1rem;
    transition: background-position 0.2s ease-in-out; /* Suaviza a mudança do fundo */
}

.titleDiv {
    text-align: center;
}

.titleDiv h1 {
    font-family: var(--pirulen);
    color: var(--white);
    font-size: 6rem;
    font-weight: 400;
}

.titleDiv p {
    color: white;
    font-size: 2rem;
}

.titleDiv p span {
    color: var(--green);
}

.bottomText {
    text-align: center;
    margin-top: 2rem;
    color: white;
    font-size: 1.25rem;
}

/* Ajuste para dispositivos móveis */
@media (max-width: 768px) {
    .mainSection {
        background-attachment: scroll; /* Remove o efeito parallax no mobile */
    }

    .titleDiv h1 {
        flex-wrap: wrap;
        font-size: 2.875rem;
        font-weight: 400;
    }

    .titleDiv p {
        flex-wrap: wrap;
        color: white;
        font-size: 1.25rem;
    }

    .bottomText {
        font-size: 1rem;
    }
}
