.image {
    height: auto; /* Ajusta a altura automaticamente ao conteúdo */
    max-height: 700px; /* Limita a altura máxima */
    width: 100%; /* Ocupar toda a largura do container */
    object-fit: cover; /* Ajusta a imagem proporcionalmente, cortando se necessário */
}

