.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    padding: 1.25rem 1rem 1.25rem 1rem;
    gap: 2rem;
}


.footer p {
    color: var(--white);
    font-family: var(--brinnan-300);
    font-size: 1rem;
}

.footer p span {
    color: var(--green);
}

.spaceOne {
    margin-left: 1rem; 
}

.spaceTwo {
    margin-left: 2rem; 
}

@media (max-width: 768px) {

    .footer img {
        height: 6rem;
    }

    .footer p {
        font-size: 0.875rem;
    }
}
